body {
  background-color: White;
  overflow-y: scroll;
  overflow-x: hidden;
}

a:link{
  text-decoration: none;
}

nav{
  position: fixed;
  left: 2%;
  top: 7%;
}

.tabs{
  background-color: beige;
  border-color: lightgreen;
  border-width: 2px;
  width: 180px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn {
    border: none;
    background-color:inherit;
    width: 130px;
    height: 130px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
}

.homepage{
  color:black;
}

.aboutme{
  color: lightgreen;
  border-style: dashed;
  border-color: red;
}

.linkedin{
  color: blue;
}

.myresume{
  color: red;
}

.myprojects{
  color: orange;
}

.title{
  font-style: normal;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  color: lightgreen;
  position: fixed;
  left: 1%;
  top: 0%;
}

.btn:hover {background: beige;}

div{
  position: relative;
  left: 20%;
  right: 20%;
}

h2{
  text-decoration: underline;
  color:#26fc9a;
}

ul{
  border-color: #26fcaf;
  border-width: 10px;
  border-style: solid;
  padding: 20px;
  background-color: beige;
  width: 400px;
}

img{
  border-style: solid;
  border-width: 10px;
  border-color: #26fcaf;
  transition: transform .2s;
}

img:hover{
  transform: scale(1.5);
}

div p{
  transition: transform .2s;
}
div p:hover{
  background-color: beige;
  font-size: 20px;
  transform: scale(1.1);
}
footer{
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
