body {
  background-color: White;
}
h1{
  font-style: normal;
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  left: 39%;
  bottom: 43.5%;
}

a:link{
  text-decoration: none;
}

nav{
  position: fixed;
  left: 2%;
  top: 7%;
}
.btn {
    border: none;
    background-color:inherit;
    width: 130px;
    height: 130px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
}

.homepage{
  color:black;
  border-style: dashed;
  border-color: red;
}

.aboutme{
  color: lightgreen;
}

.linkedin{
  color: blue;
}

.myresume{
  color: red;
}

.myprojects{
  color: orange;
}

section{
  font-style: normal;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  color: black;
  position: fixed;
  left: 1%;
  top: 0%;
}

img.image{
  position: fixed;
  top: 30%;
  left: 28%;
}

.btn:hover {background: beige;}

.c{
  position: fixed;
  left:80%;
  top: 8%;
  color: #7f1b41;
  font-size: 30px;
  transform: rotate(25deg);
}

.java{
  position: fixed;
  left:12%;
  top: 15%;
  color: #feaa8f;
  font-size: 30px;
  transform: rotate(-20deg);
}

.python{
  position: fixed;
  left:18%;
  top: 55%;
  color: #0cbc66;
  font-size: 30px;
  transform: rotate(15deg);
}

.html{
  position: fixed;
  left:52%;
  top: 8%;
  color: #518ca8;
  font-size: 30px;
  transform: skewX(3deg);
}

.javascript{
  position: fixed;
  left:47%;
  top: 55%;
  color: #9d7a5d;
  font-size: 30px;
  transform: skewX(3deg);
}

.sql{
  position: fixed;
  left:70%;
  top: 50%;
  color: #9c9fe0;
  font-size: 30px;
  transform: rotate(-25deg);
}


footer{
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
