body {
  background-repeat: repeat;
  background-position: top left;
}
h1{
  background-color: white;
  font-style: normal;
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  left: 39%;
  bottom: 43.5%;
}

a:link{
  text-decoration: none;
}

.btn {
    border: none;
    background-color:white;
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.homepage{
  color:black;
  border-style: dashed;
  border-color: red;
}

.aboutme{
  color: lightgreen;
}

.linkedin{
  color: blue;
}

.myresume{
  color: red;
}

.myprojects{
  color: orange;
}

img.image{
  position: fixed;
  top: 30%;
  left: 28%;
}

footer{
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
