body {
  background-color: grey;
}
header{
  position: fixed;
  left: 42%;
  bottom: 80%;
}
h1{
  font-style: oblique;
  font-size: 35px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: orange;
  padding: 10px 14px;
}
a:link{
  color: black;
  text-decoration: none;
}
.btn {
  border: none;
  background-color:inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: white;}

.homepage {
    border-color: orange;
    color: orange;
}

.projects {
  position: fixed;
  left: 42%;
  bottom: 75%;
}
footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
