body {
  background-repeat: repeat;
  background-position: top left;
  text-align: center;
}
h1{
  background-color: white;
  font-style: normal;
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  left: 39%;
  bottom: 43.5%;
}

a:link{
  text-decoration: none;
}

nav{
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.line{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 51%;
}

.btn {
    border: none;
    background-color:white;
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover{
  background-color: tomato;
}

.myresume{
  color:black;
  border-style: solid;
  border-color: red;
}

.download{
  border: none;
  border-style: groove;
  border-color: red;
  background-color: beige;
  padding: 20px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  left: 45%;
  bottom:10%;
}

.download:hover {
  color: red;
  background: white;
}

#c{
  position: fixed;
  right:5%;
  top: 5%;
  color: #7f1b41;
  font-size: 50px;
  transform: rotate(15deg);
}

#java{
  position: fixed;
  left:5%;
  top: 5%;
  color: #1c0512;
  font-size: 50px;
  transform: rotate(-20deg);
}

#python{
  position: fixed;
  right:1%;
  top: 70%;
  color: #21145e;
  font-size: 50px;
  transform: rotate(-18deg);
}

#html{
  position: fixed;
  left:6%;
  top: 40%;
  color: #05c9a2;
  font-size: 50px;
  transform: rotate(20deg);
}

#javascript{
  position: fixed;
  left:1%;
  top: 70%;
  color: #eecb84;
  font-size: 50px;
  transform: rotate(28deg);
}

#sql{
  position: fixed;
  left:85%;
  top: 40%;
  color: #f14d07;
  font-size: 50px;
  transform: rotate(-12deg);
}
footer{
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
